body{
  font-family:Arial;
  color:white;
  background-color:#00001a;
}

.button{
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  display:inline-block;
  text-align:center;
  width:120px;
  cursor:pointer;
  border-radius:2px;
}

.button:hover{
  background-color:#29293d;
  color:white;
}

#signDiv{
  margin:auto;
  font-size:30px;
}
